@import "@fontsource/inter";

body {
  margin: 0;

}

body {
  @apply font-sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-visible-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

iframe {
  border: 0;
}

.logo-shadow {
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.06);
}


@tailwind base;
@tailwind components;
@tailwind utilities;